

<table class="profile" summary="Profile Information">
	<tr> 
		<td class="main">
			
				<%if @microposts.any? %>
					<h1><%= @title %></h1>
				<div id="box-table-a">			 
							
				<table >
					 <tr>
						
						 <th>Name</th>
						 <th>comments</th>
						 <th>Posted</th>
						 <th>delete</th>
						 <th>edit</th>
					 </tr>
				 
				 		<% @microposts.each do |topic| %>
				 	<tr>
				 		<td>
				 			<%=link_to topic.name, topic %>
				 		</td>
				 		<td>
							<%= topic.comments.count%>
																
				 		</td>
				 		<td>
							<%= time_ago_in_words(topic.created_at) %>
																
				 		</td>
				 		<% if current_user.admin || current_user.id == topic.user.id%>
				 		<td>
							<%=link_to "delete", topic, :method => :delete,data: { confirm: 'Are you sure?' } %>																
				 		</td>
				 		<td>
				 			<%=link_to "edit", edit_micropost_path(topic)%>
				 		</td>
				 		
				 		
				 		<% end %>
				 	</tr>

				 <% end %>
				
				</table>

			
</div>

<% else %>
<p>
	<h1>
		No Topics!
	</h1>
</p>
<% end %>
<%=link_to "New Topic", addtopic_path %>
<%=link_to "Back", home_path %>

		</td>
		
	</tr>
</table>