
  <title><%= @title %></title>
  


<h1> <%=@event.name%> </h1>
<table class="event_dates">
	<tr>
		<td>
			<p>On_date: <%= @event.on_date%></p>
			<p>End_date: <%= @event.end_date%></p>
		</td>
	</tr>
</table>
<div class="comman_scroll">
<table>
	<tr>
		<td>
			<p><%= @event.description %></p>
		</td>
	</tr>
</table></div>



 