

<table class="profile" summary="Profile Information">
	<tr> 
		<td class="main">
			
				<%if @microposts.any? %>
					<h1><%= @title %></h1>
				<div id="box-table-a">			 
							
				<table >
					 <tr>
						
						 <th>Name</th>
						 <th>Posted</th>
						 <th>View</th>
					 </tr>
				 
				 		<% @microposts.each do |micropost| %>
				 	<tr>
				 		
				 		<td>
				 			<%= micropost.name %>
				 		</td>
				 		<td>
							<%= time_ago_in_words(micropost.created_at)%>
																
				 		</td>
				 		<td>
				 			<%=link_to "View", micropost%>
				 		</td>

				 	</tr>

				 <% end %>
				
				</table>

			
</div>

<% else %>
<p>
	<h1>
		No Topics!
	</h1>
</p>
<% end %>
<%=link_to "New Topic", addtopic_path %>
		</td>
		<td class= "sidebar round">
			<%= render 'shared/sidebar_details' %>
		</td>
	</tr>
</table>